* {
    transition: 500ms;
}
*:hover {
    transition: 250ms;
}

html, body {
    user-select: none;
    margin: 0;
    padding: 0;
}

.ib {
    display: inline-block;
}

.ta {
    text-align: center;
}

.button-container:hover img {
    filter: brightness(0.85);
}

.btn {
    margin: 0 5px;
}

.btn img {
    height: 250px;
    border: 2.5px solid #000;
}

.btn:hover img {
    transform: scale(1.1);
    filter: brightness(1);
}