
<header *ngIf="shouldShow()">
    <button type="button" id="btn-menu" (click)="toggleMenu()"><i class="fa-solid fa-bars"></i></button>
    <div id="logoDiv" style="text-align: center;">
        <img id="logo" src="../assets/logo.png" alt="logo">
    </div>
    <a routerLink="registro" id="btn-cuenta" (click)="closeMenu()"><i id="personita" class="fa-solid fa-user"></i></a>
</header>



<nav id="menu" [ngClass]="{'open': isMenuOpen}" *ngIf="shouldShow()">
    <ul>
        <li><a routerLink="" (click)="closeMenu()" tabindex="-1">Inicio</a></li>
        <li><a routerLink="problema" (click)="closeMenu()" tabindex="-1">¿Por qué es un problema?</a></li>
        <li><a routerLink="areas-contaminadas" (click)="closeMenu()" tabindex="-1">Áreas más contaminadas</a></li>
        <li><a routerLink="reciclar-basura" (click)="closeMenu()" tabindex="-1">Reciclar la basura</a></li>
        <li><a routerLink="motivar-ayudar" (click)="closeMenu()" tabindex="-1">Motivar a otros a ayudar</a></li>
        <li><a routerLink="foro-ideas" (click)="closeMenu()" tabindex="-1">Foro de ideas</a></li>
    </ul>
</nav>

<main>
    <router-outlet></router-outlet>
</main>