
<header *ngIf="shouldShow()">
    <button type="button" id="btn-menu" (click)="toggleMenu()"><i class="fa-solid fa-bars"></i></button>
    <div id="logoDiv" style="text-align: center;">
        <img routerLink="" id="logo" src="../assets/logo.png" alt="logo">
    </div>
    <a routerLink="registro" id="btn-cuenta" (click)="closeMenu()"><i id="personita" class="fa-solid fa-user"></i></a>
</header>

<button id="boton-subir"><i class="bi bi-arrow-up-short"></i>
    

    si

</button>

<nav id="menu" [ngClass]="{'open': isMenuOpen}" *ngIf="shouldShow()">
    <ul>
        <li><a routerLink="" (click)="closeMenu()" tabindex="-1">Inicio</a></li>
        <li><a routerLink="problema" (click)="closeMenu()" tabindex="-1">Title1</a></li>
        <li><a routerLink="areas-contaminadas" (click)="closeMenu()" tabindex="-1">Title2</a></li>
        <li><a routerLink="reciclar-basura" (click)="closeMenu()" tabindex="-1">Title3</a></li>
        <li><a routerLink="motivar-ayudar" (click)="closeMenu()" tabindex="-1">Title4</a></li>
        <li><a routerLink="foro-ideas" (click)="closeMenu()" tabindex="-1">Title5</a></li>
    </ul>
</nav>

<main>
    <router-outlet></router-outlet>
</main>