body {
    background-repeat: no-repeat;
    background-image: url(assets/fondo.png);
    background-size: cover;
    background-color: #78C273;
}

h1 {
    text-align: center;
}

#boton-casa, #boton-yt, #boton-info {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    display: inline-block;
}

#video {
    margin-top: 20px;
    margin-left: 5%;
    display: flex;
    justify-content: center;
}

#pp {
    margin-left: 40%;
}

#loader {
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 0;
}
#listacomentarioes {
    text-shadow: 0 0 20px #333;
}
p {
    font-weight: bold;
    text-shadow: 0 0 20px #8DBAE3;
    margin: auto;
    max-width: 80vw;
    max-height: 80vh;
}
#momos {
    resize: none;
}