body {
    background-repeat: no-repeat;
    background-image: url(assets/fondo.png);
    background-size: cover;
    background-color: #78C273;
}

h1 {
    text-align: center;
}

#boton-casa, #boton-yt, #boton-info {
    margin: 0;
    padding: 0;
    margin-left: 20px;
}

#video {
    margin-top: 20px;
    margin-left: 5%;
    display: flex;
    justify-content: center;
}

