html, body {
    background-color: #292c30;
    color: #ddc7a1;
}

h2 {
    text-align: center;
}

.carousel {
    align-self: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 50%;
    height: auto;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #00000080;
    box-shadow: 0 0 10px #00000080;
    border-radius: 25%;
    width: 50px;
    height: 50px;
}