* {
    transition: 50ms;
    user-select: none;
    -webkit-user-drag: none;
    overflow: hidden;
}

html {
    background-image: url(fondo_blur.jpg);
    background-size: cover;
}

body {
    background-image: url(fondo.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: auto 100vh;
    background-attachment: fixed;
    min-height: 100vh;
    overflow-x: hidden;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #00000000;
    font-size: larger;
}
button:hover {
    color: #ffffff80;
    font-size:xx-large;
}
#maxwell, #marisa {
    position: fixed;
    transform: translate(-50%, -50%); /* Centers the element */
    z-index: 10;
}

#maxwell {
    height: 70px;
    width: 100px;
    top: calc(100vh - 155px);
    left: calc(50% + 280px - (360px / 2));
}

#marisa {
    height: 95px;
    width: 80px;
    top: calc(100vh - 385px);
    left: calc(50% + -170px - (400px / 2));
}