* {
    transition: 100ms;
    user-select: none;
    -webkit-user-drag: none;
}

html {
    background-image: url(fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#maxwell {
    width: 8vw; /* Adjust based on your needs */
    position: fixed;
    left: 56vw;
    top: 78vh;
}

#marisa {
    height: 8vw;
    width: 7vw; /* Adjust based on your needs */
    position: fixed;
    left: 15vw;
    top: 45vh;
}