* {
    transition: 50ms;
    user-select: none;
    -webkit-user-drag: none;
    overflow: hidden;
}

html {
    background-image: url(fondo.jpg);
    background-size: cover;
    background-position: center 103vh;
}

audio {
    position: fixed;
}
#reload, #settings {
    transform-origin: center;
    position: fixed;
    cursor: pointer;
    height: 2.5vw;
    width: 2.5vw;
    filter: opacity(10%);
}
#reload:hover, #settings:hover {
    transform: scale(1.2);
    filter: opacity(25%);
}
#reload {
    z-index: 200;
}
#settings{
    z-index: 199;
    top: 6vh;
}

#maxwell, #marisa, #bottle, #patch_notes, #patch_notes_paper {
    position: fixed;
    transform: translate(-50%, -50%); /* Centers the element */
    z-index: 10;
}

#marisa {
    height: 15vh;
    width: 7vw;
    top: 44vh;
    left: 15vw;
}

#maxwell {
    height: 9vh;
    width: 8vw;
    top: 79vh;
    left: 59vw;
}

#bottle {
    height: 12vh;
    width: 7vw;
    top: 69.5vh;
    left: 26.5vw;
    transform-origin: center;
    transition: 200ms;
    transform: rotate(360deg)
}

#patch_notes {
    width: 12vh;
    top: 77vh;
    left: 19.5vw;
    z-index: 199;
}
#patch_notes:hover {
    content: url(items/patch_notes/patch_notes_open.png);
}
#patch_notes_paper {
    height: 80vh;
    width: 45vw;
    top: 47vh;
    left: 50vw;
    position: fixed;
    z-index: 100;
    display: none;
    scroll-behavior: smooth;

}