* {
    transition: 50ms;
    user-select: none;
    -webkit-user-drag: none;
}

html {
    background-image: url(fondo.jpg);
    background-size: cover;
    background-position: center 103vh;
    overflow: hidden;
}

audio {
    position: fixed;
}
#reload, #settings {
    transform-origin: center;
    position: fixed;
    cursor: pointer;
    height: 2.5vw;
    width: 2.5vw;
    filter: opacity(10%);
}
#reload:hover, #settings:hover {
    transform: scale(1.2);
    filter: opacity(25%);
}
#reload {
    z-index: 200;
}
#settings{
    z-index: 199;
    top: 6vh;
}

.items {
    position: fixed;
    transform: translate(-50%, -50%); /* I need to remove this eventually :( << Or maybe not, idk anymore */
    z-index: 10;
    cursor: pointer;
}

#marisa {
    height: 15vh;
    width: 7vw;
    top: 43vh;
    left: 15vw;
}

#maxwell {
    height: 9vh;
    width: 8vw;
    top: 79vh;
    left: 59vw;
}

#bottle {
    height: 12vh;
    width: 7vw;
    top: 69.5vh;
    left: 26.5vw;
    transform-origin: center;
    transition: 200ms;
    transform: rotate(360deg)
}

#cookie {
    height: 12vh;
    width: 7vw;
    top: 40vh;
    left: 60vw;
    transform: scale(1);
    transition: 100ms;
}
#cookie_text {
    position: fixed;
    top: 34.5vh;
    right: 34.1vw;
    z-index: 10;
    font-size: 2vh;
    color: white;
    text-align: justify;
    text-shadow: 1px 1px 5px black;
}

#youtube_tv, #tv_static{
    height: 15vw;
    width: 15vw;
    top: 70vh;
    left: 43vw;
    pointer-events: none;
}
#tv_static {
    z-index: 8;
    pointer-events: auto;
}
#tv_controller {
    height: 3vh;
    width: 5vw;
    top: 80.7vh;
    left: 49vw;
}
#youtube_video {
    overflow: hidden;
    height: 109vh;
    width: 85vw;
    top: 20vh;
    left: 0.2vw;
    z-index: 9;
    transform: scale(0.1);
}

#patch_notes {
    width: 12vh;
    top: 77vh;
    left: 19.5vw;
    z-index: 199;
}
#new_patch_notification {
    width: 2vh;
    top: 73.2vh;
    left: 20.3vw;
    z-index: 199;
    display: none;
}
#patch_notes_paper {
    height: 80vh;
    width: 45vw;
    top: 48vh;
    left: 50vw;
    position: fixed;
    z-index: 100;
    display: none;
    scroll-behavior: smooth;
}

#settings_menu {
    top: 11vh;
    position: fixed;
    z-index: 199;
    display: none;
    scroll-behavior: smooth;
}