/* ---- */


:root {

    --yellow-default: rgb(254, 245, 42);

    --principal-color-high: rgb(45, 163, 98);
    --principal-color: rgb(28, 136, 77);
    --principal-color-dark: rgb(15, 110, 58);

    --default-gray-high: #dddddd;
    --default-gray: #bbbbbb;
    --default-gray-dark: #9c9c9c;
    --default-gray-darker: #4b4b4b;
    --dark-gray: #313131;
    --perfect-gray: #7F7F7F;

    --shadow: drop-shadow(7px 7px 0 #00000039);
    --borde-default: 2px solid #000;

}
#shreck {
    line-height: 40%;
}
p {
    color: #fff;
}
.tituloPagina {
    color: #fff;
}

::-webkit-scrollbar {    /* width */
    width: 2mm;
}
::-webkit-scrollbar-track {  /* Track */
    background: var(--default-gray-high);
}
::-webkit-scrollbar-thumb {  /* Handle */
    background: var(--principal-color);
}
::-webkit-scrollbar-thumb:active {
    background: var(--principal-color-high);
}

body {
    background-image: url(assets/bg-pattern.png);
    background-size: 15%;
    animation: mymove linear 50s infinite;
}

@keyframes mymove {
    100% {background-position:center;}
}

header {        
    background-color: var(--principal-color);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    filter: var(--shadow);
    box-shadow: 0 0 0 2px black;
}
header h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

#btn-menu {
    background: none;
    border: none;
    color: #fff;
    font-size: 40px;
    padding: 0;
    line-height: 0;
}
#btn-menu:hover {
    color: var(--yellow-default);
    scale: 110%;
}

#logoDiv {
    display: flex;
    justify-content: center;
}
#logo {
    margin-top: -620px;
    position: absolute;
    z-index: 2;
    scale: 10%;
}
#logo:hover {
    scale: 11%;
}

#personita {
    padding: 0px 0px 0px 5px;
}
#btn-cuenta {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    line-height: 0;
    padding: 10px 8px;
    border-radius: 10px;
    font-size: 20px;
}
#btn-cuenta i {
    margin-right: 5px;
}
#btn-cuenta:hover {
    color: var(--yellow-default);
    border-color: var(--yellow-default);
    scale: 110%;
}

#menu {
    position: fixed;
    left: -320px;
    width: 300px;
    height: 100%;
    background-color: var(--principal-color);
    transition: left 0.3s ease-in-out;
    z-index: 1;
    filter: var(--shadow);
    box-shadow: 2px 0 0 0 black;
}
#menu.open {
    left: 0;
}
#menu img {
    width: 120px;
    display: block;
    margin: 20px auto;
}
#menu ul {
    list-style: none;
    padding: 0;
}
#menu ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}
#menu ul li a:hover {
    background-color: var(--principal-color-high);
    scale: 110%;
    box-shadow: 0 0 0 0.1rem black;
    filter: var(--shadow);
}

.container {
    filter: var(--shadow);
    border: var(--borde-default);
    border-width: 2.5q;
    background-color: var(--dark-gray);
}

img {
    max-width: 100%;
}

#boton-subir {
    position: fixed;
    background-color: var(--principal-color-high);
    scale: 110%;
    box-shadow: 0 0 0 0.1rem black;
    filter: var(--shadow);
}

/* Páginas de "Registro" e "Iniciar sesión" */

#x-mark {
    color: #222;
}
#x-mark:hover {
    color: #464646;
}

.close-form {
    position: absolute;
    top: 20px;
    right: 20px;
    line-height: 0;
    color: #fff;
    font-size: 40px;
}
.close-form:hover {
    color: #81d4fd;
}
.form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    background-color: var(--principal-color);
    filter: var(--shadow);
    border: var(--borde-default);
    color: #fff;
}
.form h2 {
    margin-bottom: 1.25rem;
    text-align: center;
}

.control {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 2px solid #ccc;
}
.control:focus {
    outline: none;
    border-color: var(--principal-color);
}
.control, .form-btn {
    border-radius: 0.375rem;
}
.form-btn {
    width: 100%;
    border: none;
    padding: 12px;
    background-color: var(--principal-color-high);
    color: #fff;
    transition: background-color 0.3s ease;
}
.form-btn:hover {
    background-color: var(--principal-color-high);
}
.form p {
    text-align: center;
    font-size: 1.125rem;
    margin-top: 1rem;
}
.form a {
    color: #fff;
    text-decoration: none;
}
.form a:hover {
    text-decoration: underline;
}

/* Estilos del foro */

#foro-subtitulo {
    color: #aaa;
    margin-bottom: 1rem;
}
#postear {
    background-color: var(--principal-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 600px;
}
#mensaje {
    resize: none;
}
#titulo, #mensaje {
    font-size: 20px;
}
.container article {
    box-shadow: 3.5px 3.5px 10px rgba(0, 0, 0, 0.3);
    transition: 0.15s;
    background-color: #fff;
}
.container article:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
#nombre-usuario {
    margin-bottom: 0.25rem;
    color: #000;
}
#fecha {
    color: #aaa;
}
#contenido {
    margin-top: 0.6rem;
    color: #000;
}
